/** SiderContainer */
.sider-menu {
  .logo {
    width: 170px;
    height: 44px;
    background: #f0f2f5f8;
    margin: 10px;
    float: left;
    padding: 5px;
    border-radius: 2px;
    padding-left: 10px;

    &.hidden {
      width: 54px;
      transition: 0.2s;
    }
    &-img {
      height: 100%;
    }
    &-label {
      line-height: 0;
      text-transform: uppercase;
      font-weight: bold;
      margin-left: 5px;
      color: #0e3152;
      &.hidden {
        transition: 0s;
        display: none;
      }
    }
  }

  .ant-menu-item.ant-menu-item-active {
    &:hover {
      background-color: #188fff83;
    }
    &.ant-menu-item-selected {
      background-color: #1890ff !important;
    }
  }
}

.ant-layout-header {
  line-height: 0;
}

// .logo {
//   height: 32px;
//   background: #f0f2f5f8;
//   margin: 16px;
// }