.main-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  -moz-user-select: none;/* Firefox */
  -ms-user-select: none;/* Internet Explorer */
  -khtml-user-select: none;/* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none;/* Chrome, Safari, and Opera */
  -webkit-touch-callout: none;/* Disable Android and iOS callouts*/
}