.lesson {
  &-content {
    margin-top: 30px;
    // background: rgba(167, 167, 167, 0.164);
    h2 {
      margin-bottom: 20px;
    }
    &__moments{
      display: flex;
      align-items: center;
      height: 360px;
    }
    &__moment{
      list-style-type: none;
      span {
        color: red;
        font-weight: bold;
      }
    }
    &__video {

      &_title {
        text-align: center;
      }
    }
  }
}