// CreditConveyor
.credit-conveyor{
  color: rgba(0, 255, 242, 0.24);


  .ant-advanced-search-form,
  .search-result-table {
    margin: 2rem 4rem;
    .ant-form-item {
      display: flex;
    }
    .ant-form-item-control-wrapper {
      flex: 1;
    }
  }

  .search-btn {
    margin-top: 4px;
  }

  .search-result-table {
    color: rgba(0, 0, 0, 0.85);
    min-height: 450px;
    margin-top: 2rem;
    text-align: center;
    background: #fbfbfb;
    border: 1px solid #d9d9d9;
  }

  .tabs-info{
    margin: 2rem 4rem;
    &__organisation {
      &-info {
        margin: 1rem 2rem;
        .lable {
          text-align: right;
          font-weight: bold;
          padding-right: 2rem;
          &:after {
            content: ':';
            font-weight: normal;
            margin-left: 5px;
          }
        }
        .descr {
        }
      }
      .lable-table {
        text-align: center;
        margin-bottom: 1rem;
        font-weight: bold;
      }
    }
    &__lable-table {
      margin: 2rem 0 2rem 1rem;
      font-weight: bold;
    }
  }
}