.add-risk-digest{
  // padding: 0 20px;
  .ant-table-thead {
    th {
      text-align: center;
      padding: 4px;
    }
  }
  .ant-table-tbody{
    td {
      text-align: center;
      padding: 4px;
    }
  }
  .ant-btn {
    height: 25px;
  }
  .ant-collapse-header {
    padding: 10px 16px !important;
    background-color: #a3d3ff13;
    line-height: 10px !important;
    -moz-user-select: none; /* Mozilla Firefox */
    -ms-user-select: none; /* Internet Explorer (не поддерживается) */
    -o-user-select: none; /* Opera Presto (не поддерживается) */
    -webkit-user-select: none; /* Google Chrome, Opera Next, Safari */
  }
}